<navbar></navbar>

<div class="row">
  <div class="col-sm-4">

    <div *ngIf="idContractor == undefined" class="card">
      <table class="table table-hover">
        <thead class="thead-inverse">
        <tr>
          <th style="width: 5%;">#</th>
          <th style="width: 90%;">Наименование</th>
          <th style="width: 25%;">Город</th>
        </thead>
        <tbody>
        <tr *ngFor="let item of contractors; let i = index">
          <td><b>{{ i + 1 }}</b></td>
          <td>{{ item.name }}</td>
          <td>{{ item.city }}</td>
        </tr>
        </tbody>
      </table>
    </div>

    <div *ngIf="idContractor != undefined" class="card">
      <p>{{ idContractor }}</p>
    </div>

  </div>
</div>

