<navbar></navbar>

<p-growl [(value)]="msgs"></p-growl>

<div style=" height: 87%;" class="pl-2 pr-2 pt-2">
  <p-table [value]="items()">

    <ng-template pTemplate="caption">
      <div class="row" style="margin:0 0 0 0">
        <p>Цены / {{ nameCatalog() }} / {{ nomenclature }}</p>
      </div>

      <div class="row">
        <div class="col-sm-8" style="text-align: left" >
          <button type="button" pTooltip="Перейти в справочник" pButton icon="fa-arrow-left " (click)="gotoCatalog()"></button>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header">
      <tr>
        <th>Код</th>
        <th>Дата</th>
        <th>Цена</th>
      </tr>
    </ng-template>

    <ng-template pTemplate="body" let-price>
      <tr>
        <td>{{price.id}}</td>
        <td>{{price.date}}</td>
        <td>{{price.value}}</td>
      </tr>
    </ng-template>
  </p-table>
</div>
