<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" [routerLink]="['/carwash']">CarWash
    <!--<span *ngIf="principal.isAdmin()">Admin</span>-->
  </a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown_processing" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Расчеты
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/stages']">Этапы работ</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/sections']">Разделы</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/buildings']">Типы сооружений</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/targets']">Объекты</a>
        </div>
      </li>

      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          Справочники
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/materials']">Материалы</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/kits']">Комплекты</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/mechanisms']">Механизмы</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/services']">Работы</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/units']">Единицы измерения</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/cities']">Города</a>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/groupscontractor']">Группы контрагентов</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" [routerLink]="['/carwash/catalogs/contractors']">Контрагенты</a>
        </div>
      </li>

      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/carwash/admin']">Администрирование</a>
      </li>
      <!--<li class="nav-item active">-->
        <!--<a class="nav-link" [routerLink]="['/carwash/refresh']" [queryParams]="{url:'/carwash/prices'}" skipLocationChange="true">Цены<span class="sr-only">(current)</span></a>-->
      <!--</li>-->
    </ul>
    <!--<form class="form-inline my-2 my-lg-0">-->
      <!--<input class="form-control mr-sm-2" type="search" placeholder="Поиск" aria-label="Search">-->
      <!--<button class="btn btn-outline-success my-2 my-sm-0" type="submit">Поиск</button>-->
    <!--</form>-->

    <!--<button *ngIf="isAuthenticated()" type="button" class="btn btn-outline-primary" (click)="logout()">Выйти</button>-->
    <!--<button *ngIf="!isAuthenticated()" type="button" class="btn btn-outline-primary" routerLink="/carwash/login">Войти</button>-->
  </div>
</nav>
