/* You can add global styles to this file, and also import other style files */

html, body {
  height: 100%;
  background: url("../src/images/bg-light-4789.png") repeat;
}

html {
  font-size: 14px;
}
