<navbar></navbar>

<p-growl [(value)]="msgs"></p-growl>

<div style="padding-top: 10px">
  <p-table #dt
           [columns]="cols"
           [value]="items()"
           selectionMode="single"
           dataKey="id"
           [lazy]="true" (onLazyLoad)="loadItemsLazy($event)" [loading]="loading"
           [(selection)]="selected" [scrollable]="true" scrollHeight="100%">

    <ng-template pTemplate="caption">
      <div class="p-grid">
        <div class="p-col-3" style="padding-top: 5px; padding-bottom: 0; text-align: left">
          <p-button pTooltip="Создать новый" icon="fa fa-plus" style="padding-right: 3px" (click)="addElement()"></p-button>
          <p-button pTooltip="Скопировать" icon="fa fa-copy" style="padding-right: 3px" (click)="copyElement()" [disabled]="selected.id == undefined"></p-button>
          <p-button pTooltip="Изменить" icon="fa fa-edit" style="padding-right: 3px" (click)="editElement()" [disabled]="selected.id == undefined"></p-button>
          <p-button pTooltip="Удалить" icon="fa fa-remove" style="padding-right: 3px" (click)="remove()" [disabled]="selected.id == undefined"></p-button>
          <p-button pTooltip="Обновить" icon="fa fa-refresh" style="padding-right: 3px" (click)="update()"></p-button>
          <p-button pTooltip="Экспорт в CSV" icon="fa fa-file-o" style="padding-right: 3px" (click)="dt.exportCSV()"></p-button>

          <p-button pTooltip="Цены" icon="fa fa-rub" style="padding-right: 3px"
                    class="ui-button-success"
                    [disabled]="selected.id == undefined" *ngIf="isNomenclature()"
                    [routerLink]="['/carwash/prices', selected.id]">
          </p-button>

          <p-button pTooltip="Перейти к расчетам" icon="fa fa-cube" class="ui-button-success" [disabled]="selected.id == undefined" *ngIf="isTarget()" [routerLink]="['/carwash/processing/estimate', selected.id]"></p-button>
        </div>

        <div class="p-col-6">
          <p style="padding-top: 0; margin-top:5px; margin-bottom:0">{{ name }} / {{ selected.name }}</p>
        </div>

        <div class="p-col-3" style="padding-top: 5px; padding-bottom: 0; ">
          <div style="text-align: right">
            <i class="fa fa-search" style="padding-right: 5px"></i>
            <input type="text" pInputText size="20" placeholder="Поиск" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>
  </p-table>
</div>

<!-- element forms -->

<p-dialog header="{{ name }}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">

  <!--Материалы, Работы, Механизмы-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isNomenclature()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="article">Артикул</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="article" [(ngModel)]="changed.article"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="unit">Ед. изм</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="unit" [dataKey]="id" [options]="units" filter="true" [(ngModel)]="changed.unit" [showClear]="true" [autoDisplayFirst]="false" [style]="{'width':'350px'}" ></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="price">Цена</label>
      </div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">$</span>
          <input pKeyFilter="num" pInputText id="price" [(ngModel)]="changed.price"/>
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--// Контрагенты-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isContractor()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name_contractor">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name_contractor" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="group">Группа</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="group" [dataKey]="id" [options]="groups" [(ngModel)]="changed.group" [autoDisplayFirst]="false" [style]="{'width':'350px'}"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="city">Город</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="city" [dataKey]="id" [options]="cities" [(ngModel)]="changed.city" [autoDisplayFirst]="false" [style]="{'width':'350px'}"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="email">E-mail</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="email" [(ngModel)]="changed.email"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="telephone">Телефон</label>
      </div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
          <p-inputMask id="telephone" mask="(999) 999-99-99" [(ngModel)]="changed.telephone" placeholder="(999) 999-9999"></p-inputMask>
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment_contractor">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment_contractor" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--// Единицы измерения -->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isUnit()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="code_unit">Код ОКЕИ</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="code_unit" disabled=true [(ngModel)]="changed.code"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name_unit">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name_unit" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment_unit">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment_unit" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--// Города, Единицы измерения, Группы контрагентов-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && (isCity() || isGroupContractor())">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name_catalog">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name_catalog" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment_catalog">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment_catalog" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--Этапы-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isStage()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name_stage">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name_stage" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="volume_stage">Объем</label>
      </div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <input pKeyFilter="num" pInputText id="volume_stage" [(ngModel)]="changed.volume"/>
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="stage_kit">Комплект</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="stage_kit" [dataKey]="id" [options]="kits" [(ngModel)]="changed.kit" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="stage_service">Работа</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="stage_service" [dataKey]="id" [options]="services" [(ngModel)]="changed.service" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="stage_mechanism">Механизм</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="stage_mechanism" [dataKey]="id" [options]="mechanisms" [(ngModel)]="changed.mechanism" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment_stage">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment_stage" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

  </div>

  <!--Разделы-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isSection()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="section_name">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="section_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="section_comment">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="section_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

    <div class="ui-grid-row">
      <p-listbox [dataKey]="id" [options]="stages" [(ngModel)]="changed.stages" multiple="multiple" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'200px', 'min-height':'200px'}" [style]="{'width':'550px'}">
        <p-header>
          <!--<i class="fa fa-car"></i>-->
          Этапы
        </p-header>
      </p-listbox>
    </div>

  </div>

  <!--Типы зданий-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isBuilding()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="building_name">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="building_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="building_comment">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="building_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

    <div class="ui-grid-row">
      <p-listbox [dataKey]="id" [options]="sections" [(ngModel)]="changed.sections" multiple="multiple" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'200px', 'min-height':'200px'}" [style]="{'width':'550px'}">
        <p-header>
          <!--<i class="fa fa-car"></i>-->
          Разделы
        </p-header>
      </p-listbox>
    </div>
  </div>

  <!--Объекты-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isTarget()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="target_name">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="target_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="target_building">Тип сооружения</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="target_building" [dataKey]="id" [options]="buildings" [(ngModel)]="changed.building" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="target_city">Город</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="target_city" [dataKey]="id" [options]="cities" [(ngModel)]="changed.city" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="target_point">Количество постов</label>
      </div>
      <div class="ui-grid-col-8">
        <div class="ui-inputgroup">
          <!--<span class="ui-inputgroup-addon">$</span>-->
          <input pKeyFilter="pint" pInputText id="target_point" [(ngModel)]="changed.point"/>
        </div>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="target_comment">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="target_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--Комплекты-->
  <div class="ui-grid ui-grid-responsive ui-grid-pad ui-fluid" style="margin: 10px 0px" *ngIf="changed != null && isKit()">

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="name_kit">Наименование</label>
      </div>
      <div class="ui-grid-col-8">
        <input pInputText id="name_kit" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="kit_main">Основной материал</label>
      </div>
      <div class="ui-grid-col-8">
        <p-dropdown id="kit_main" [dataKey]="id" [options]="materials" [(ngModel)]="changed.main" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-grid-row">
      <p-listbox [dataKey]="id" [options]="materials" [(ngModel)]="changed.materials" multiple="multiple" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'200px', 'min-height':'200px'}" [style]="{'width':'550px'}">
        <p-header>
          Материалы
        </p-header>
      </p-listbox>
    </div>

    <div class="ui-grid-row">
      <div class="ui-grid-col-4">
        <label for="comment_kit">Комментарий</label>
      </div>
      <div class="ui-grid-col-8">
        <textarea id="comment_kit" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa fa-check" (click)="saveChanges()" label="Сохранить"></button>
      <button type="button" pButton icon="fa fa-close" (click)="hideDialog()" label="Отмена"></button>
    </div>
  </p-footer>
</p-dialog>
