<navbar></navbar>

<p-growl [(value)]="msgs"></p-growl>

<div style=" height: 84%;" class="pl-2 pr-2 pt-2">
  <p-table #dt
    [columns]="cols"
    [value]="items()"
    selectionMode="single"
    dataKey="id"
    [(selection)]="selected" [scrollable]="true" scrollHeight="100%">

    <ng-template pTemplate="caption">
      <div class="row">
        <div class="col-sm-8" style="text-align: left" >
          <p style="margin:4px 4px 0 0">{{ name }} / {{ selected.name }}</p>
        </div>
        <div class="col-sm-4">
          <div style="text-align: right">
            <i class="fa fa-search" style="margin:4px 4px 0 0"></i>
            <input type="text" pInputText size="20" placeholder="Поиск" (input)="dt.filterGlobal($event.target.value, 'contains')" style="width:auto">
          </div>
        </div>
      </div>
    </ng-template>

    <ng-template pTemplate="header" let-columns>
      <tr>
        <th *ngFor="let col of columns" [pSortableColumn]="col.field">
          {{col.header}}
          <p-sortIcon [field]="col.field"></p-sortIcon>
        </th>
      </tr>
    </ng-template>
    <ng-template pTemplate="body" let-rowData let-columns="columns">
      <tr [pSelectableRow]="rowData">
        <td *ngFor="let col of columns">
          {{rowData[col.field]}}
        </td>
      </tr>
    </ng-template>

    <ng-template pTemplate="summary">
      <div style="text-align:left; margin:4px 4px 0 0">
        <button type="button" pTooltip="Создать новый" pButton icon="fa-plus" (click)="addElement()"></button>
        <button type="button" pTooltip="Скопировать" pButton icon="fa-copy" (click)="copyElement()"></button>
        <button type="button" pTooltip="Изменить" pButton icon="fa-edit" (click)="editElement()" [disabled]="selected.id == undefined"></button>
        <button type="button" pTooltip="Удалить" pButton icon="fa-remove" (click)="remove()" [disabled]="selected.id == undefined"></button>
        <button type="button" pTooltip="Обновить" pButton icon="fa-refresh" (click)="refresh()"></button>
        <button type="button" pTooltip="Экспорт в CSV" pButton icon="fa-file-o" (click)="dt.exportCSV()"></button>
        <button type="button" pTooltip="Перейти к расчетам" pButton icon="fa-cube" class="ui-button-success" [disabled]="selected.id == undefined" *ngIf="isTarget()" [routerLink]="['/carwash/processing/estimate', selected.id]"></button>
      </div>
    </ng-template>
  </p-table>
</div>

<!-- element forms -->

<p-dialog header="{{ name }}" [(visible)]="displayDialog" [responsive]="true" showEffect="fade" [modal]="true" [width]="600">

  <!--Материалы, Работы, Механизмы-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isNomenclature()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="article">Артикул</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="article" [(ngModel)]="changed.article"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="unit">Ед. изм</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="unit" [options]="units" [(ngModel)]="changed.unit" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="price">Цена</label>
      </div>
      <div class="ui-g-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon">$</span>
          <input pKeyFilter="num" pInputText id="price" [(ngModel)]="changed.price"/>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="comment">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--// Контрагенты-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isContractor()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name_contractor">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name_contractor" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="group">Группа</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="group" [options]="groups" [(ngModel)]="changed.group" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="city">Город</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="city" [options]="cities" [(ngModel)]="changed.city" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="email">E-mail</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="email" [(ngModel)]="changed.email"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="telephone">Телефон</label>
      </div>
      <div class="ui-g-8">
        <div class="ui-inputgroup">
          <span class="ui-inputgroup-addon"><i class="fa fa-phone"></i></span>
          <p-inputMask id="telephone" mask="(999) 999-99-99" [(ngModel)]="changed.telephone" placeholder="(999) 999-9999"></p-inputMask>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="comment_contractor">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="comment_contractor" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--// Города, Единицы измерения, Группы контрагентов-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && (isCity() || isUnit() || isGroupContractor())">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name_city">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name_city" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="comment_city">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="comment_city" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>

  <!--Этапы-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isStage()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="name_stage">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="name_stage" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="stage_service">Работа</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="stage_service" [options]="services" [(ngModel)]="changed.service" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="stage_material">Материал</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="stage_material" [options]="materials" [(ngModel)]="changed.material" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="stage_mechanism">Механизм</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="stage_mechanism" [options]="mechanisms" [(ngModel)]="changed.mechanism" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="comment_stage">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="comment_stage" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

  </div>

  <!--Разделы-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isSection()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="section_name">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="section_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="section_comment">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="section_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

    <div class="ui-g-12">
      <p-listbox [options]="stages" [(ngModel)]="changed.stages" multiple="multiple" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'200px'}">
        <p-header>
          <!--<i class="fa fa-car"></i>-->
          Этапы
        </p-header>
      </p-listbox>
    </div>

  </div>

  <!--Типы зданий-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isBuilding()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="building_name">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="building_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="building_comment">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="building_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>

    <div class="ui-g-12">
      <p-listbox [options]="sections" [(ngModel)]="changed.sections" multiple="multiple" checkbox="checkbox" filter="filter" [listStyle]="{'max-height':'200px'}">
        <p-header>
          <!--<i class="fa fa-car"></i>-->
          Разделы
        </p-header>
      </p-listbox>
    </div>
  </div>

  <!--Объекты-->
  <div class="ui-g ui-fluid" *ngIf="changed != null && isTarget()">

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="target_name">Наименование</label>
      </div>
      <div class="ui-g-8">
        <input pInputText id="target_name" [(ngModel)]="changed.name"/>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="target_building">Тип сооружения</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="target_building" [options]="buildings" [(ngModel)]="changed.building" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="target_city">Город</label>
      </div>
      <div class="ui-g-8">
        <p-dropdown id="target_city" [options]="cities" [(ngModel)]="changed.city" [style]="{'width':'350px'}" filter="true" [autoDisplayFirst]="false"></p-dropdown>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="target_point">Количество постов</label>
      </div>
      <div class="ui-g-8">
        <div class="ui-inputgroup">
          <!--<span class="ui-inputgroup-addon">$</span>-->
          <input pKeyFilter="pint" pInputText id="target_point" [(ngModel)]="changed.point"/>
        </div>
      </div>
    </div>

    <div class="ui-g-12">
      <div class="ui-g-4">
        <label for="target_comment">Комментарий</label>
      </div>
      <div class="ui-g-8">
        <textarea id="target_comment" pInputTextarea [(ngModel)]="changed.comment"></textarea>
      </div>
    </div>
  </div>


  <p-footer>
    <div class="ui-dialog-buttonpane ui-helper-clearfix">
      <button type="button" pButton icon="fa-close" (click)="hideDialog()" label="Отмена"></button>
      <button type="button" pButton icon="fa-check" (click)="saveChanges()" label="Сохранить"></button>
    </div>
  </p-footer>
</p-dialog>
